In [2]:
# Just getting the libreries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [3]:
# Accessing to data
movies = pd.read_csv('https://github.com/JuanPabloMF/datasets-platzi-course/blob/master/datasets/peliculas.csv?raw=true')
financials = pd.read_csv('https://github.com/JuanPabloMF/datasets-platzi-course/blob/master/datasets/thenumbers.csv?raw=true', encoding='utf-8')

In [4]:
# Data scouting
movies.index

RangeIndex(start=0, stop=5043, step=1)

In [5]:
movies.columns

Index(['movie_title', 'title_year', 'color', 'aspect_ratio', 'duration',
       'language', 'country', 'duration.1', 'genres', 'content_rating',
       'plot_keywords', 'director_name', 'actor_1_name', 'actor_2_name',
       'actor_3_name', 'cast_total_facebook_likes', 'budget', 'imdb_score',
       'gross'],
      dtype='object')

In [6]:
# Two ways to show a dataframe column
movies.loc[:, 'movie_title'].head()

0                                              Avatar
1            Pirates of the Caribbean: At World's End
2                                             Spectre
3                               The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens    ...
Name: movie_title, dtype: object

In [7]:
movies['movie_title'].head()

0                                              Avatar
1            Pirates of the Caribbean: At World's End
2                                             Spectre
3                               The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens    ...
Name: movie_title, dtype: object

In [8]:
# Showing the 10th dataframe record 
row = movies.loc[10, :]
row

movie_title                                Batman v Superman: Dawn of Justice
title_year                                                              2016.0
color                                                                    Color
aspect_ratio                                                              2.35
duration                                                                 183.0
language                                                               English
country                                                                    USA
duration.1                                                               183.0
genres                                                 Action|Adventure|Sci-Fi
content_rating                                                           PG-13
plot_keywords                based on comic book|batman|sequel to a reboot|...
director_name                                                      Zack Snyder
actor_1_name                                                      Henry Cavill
actor_2_name                                                      Lauren Cohan
actor_3_name                                                    Alan D. Purwin
cast_total_facebook_likes                                                24450
budget                                                             250000000.0
imdb_score                                                                 6.9
gross                                                              330249062.0
Name: 10, dtype: object

In [9]:
# We'll do a fast data inspection
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                5043 non-null   object
 1   title_year                 4935 non-null   float64
 2   color                      5024 non-null   object
 3   aspect_ratio               4714 non-null   float64
 4   duration                   5028 non-null   float64
 5   language                   5031 non-null   object
 6   country                    5038 non-null   object
 7   duration.1                 5028 non-null   float64
 8   genres                     5043 non-null   object
 9   content_rating             4740 non-null   object
 10  plot_keywords              4890 non-null   object
 11  director_name              4939 non-null   object
 12  actor_1_name               5036 non-null   object
 13  actor_2_name               5030 non-null   object
 14  actor_3_name               5020 non-null   object
 15  cast_total_facebook_likes  5043 non-null   int64
 16  budget                     4551 non-null   float64
 17  imdb_score                 5043 non-null   float64
 18  gross                      4159 non-null   float64
dtypes: float64(7), int64(1), object(11)
memory usage: 748.7+ KB

In [33]:
# We make a distintion between numeric and no-numerical fields
num_field = (movies.dtypes==float) | (movies.dtypes==int)
num_ind = [column for column in num_field.index if num_field[column]]

obj_field = (movies.dtypes == object)
obj_ind = [column for column in obj_field.index if obj_field[column]]

In [29]:
# First data inspection

Index(['movie_title', 'title_year', 'color', 'aspect_ratio', 'duration',
       'language', 'country', 'duration.1', 'genres', 'content_rating',
       'plot_keywords', 'director_name', 'actor_1_name', 'actor_2_name',
       'actor_3_name', 'cast_total_facebook_likes', 'budget', 'imdb_score',
       'gross'],
      dtype='object')

pandas.core.indexes.base.Index

In [10]:
financials = financials[['movie_title', 'production_budget', 'worldwide_gross']]
financials

,movie_title,production_budget,worldwide_gross
0,Avatar,425000000,2783918982
1,Star Wars: Episode VII - The Force Awakens ...,306000000,2058662225
2,Pirates of the Caribbean: At World's End,300000000,963420425
3,Spectre,300000000,879620923
4,The Dark Knight Rises,275000000,1084439099
...,...,...,...
4336,The Mongol King,7000,900
4337,Signed Sealed Delivered,5000,0
4338,Shanghai Calling,3967,10443
4339,A Plague So Pleasant,1400,0
4340,My Date with Drew,1100,181041